* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* @font-face {
  font-family: "Manjari-Regular";
  src: url("/assets/Manjari-Regular.ttf");
}

@font-face {
  font-family: "Kartika";
  src: url("assets/Kartika.ttf");
} */

body {

  font-family: "Monument Extended", sans-serif;
}

header {
  width: 100%;
  height: 90vh;

  background: url("https://images.unsplash.com/photo-1584483766114-2cea6facdf57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80") no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}


header > h2 {
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
}

.inner__contact{
 margin: 1.2rem;
}

.img__bottom{
  display: flex;
  justify-content: center;
  align-items: center;

}


main {
  width: 100%;
  height: max-content;
  background: url('./assets/daniel-schludi-mAGZNECMcUg-unsplash.jpg') no-repeat center fixed rgba(0, 0, 0, 0.45);
  background-size: cover;
  background-blend-mode: darken;
  padding: 30px;
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.938);
  font-weight: bold;
  line-height: 160%;
  position: relative;
}

h2 {
  margin: 20px auto;
}

.contact {
  font-family: sans-serif;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  align-content: space-around;
}

.phone__btn{
  margin: 1.2rem;
}

a {
  text-decoration: none;
  color: wheat;
}

@media screen and (min-width: 1600px) {
  header {
    height: 20vh;
  }
  main {
    height: 80vh;
    text-align: center;
  }
}

.inner__contact{
  display: flex;
  align-items: center;
}


.phone__btn{
  padding:1.5rem;
  border-radius:1.5rem;
  border:0;
  cursor:pointer;
  background: white;
}

.phone__btn>a{
  color:black;
  font-weight: 900;
}

.phone__btn:hover{
  background: rgb(194, 193, 193);
}